## section
snippet section
	<section>
		${0}
	</section>
##
## para
snippet para
	<para>
		${0}
	</para>
##
## title
snippet title
	<title>${0}</title>
##
## itemizedlist
snippet itemizedlist 
	<itemizedlist> 
		<listitem> 
			${0} 
		</listitem> 
	</itemizedlist>
##
## listitem
snippet listitem
	<listitem>
		${0}
	</listitem>
##
## code
snippet code
	<code>
		${0}
	</code>
